body {
    font-family: 'Comic Sans MS', 'Arial', sans-serif;
    text-align: center;
    direction: rtl;
    background-color: #e0f8ff;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
}

#left-logo,
#right-logo {
    width: 100px; /* Adjust size as needed */
}

h1 {
    color: #61c2ff;
    font-size: 2rem;
}

#graph {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-direction: row;
}

.transport {
    border: 3px solid #91ffff;
    border-radius: 15px; 
    padding: 10px;
    width: 150px;
    min-height: 100px;
    cursor: pointer;
    text-align: center;
    margin: 10px; 
    background-color: #e7fafb;
    box-shadow: 3px 3px 6px #eeeeee;
    display: flex;
    flex-direction: column-reverse;
}

#names {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.name {
    padding: 10px;
    margin: 10px;
    background-color: #bce2ff;
    cursor: grab;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #bbbbbb;
    font-size: 1rem;
    font-weight: bold;
}

.over {
    border: 3px dashed #65f7ff;
    background-color: #b2fff5;
}

.invisible {
    display: none;
}

.count {
    margin-top: 10px;
    font-weight: bold;
    font-size: 2rem;
    color: #15b1d8;
    order: +1;
}
.transport-way{
    /* margin-top: 10px; */
    font-weight: bold;
    font-size: 2rem;
    color: #15b1d8;
    bottom: 0;
}
.trans-img{
    width: 50px;
    height: 80px;
}